/* Estilos para el fondo y el texto */
body {
    background-color: #96C5B0; /* Fondo azul grisáceo apagado */
    color: black; /* Texto en negro */
    font-family: 'Liberation Sans', sans-serif; /* Fuente Liberation Sans */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
h1{
    margin-left: 50px;
}
.container {
    text-align: center;
    margin-top: 100px;
}

/* Estilos para los iconos */
.icono {
    font-size: 24px; /* Tamaño de fuente para los iconos */
    color: #333; /* Color de iconos por defecto */
}

.button {
    background-color: #4c86c4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.button:hover {
    background-color: #1f66b1;
}


/* Estilos afectados en CrearPresentacion */


.up{
    display: flex;
    flex-direction: row;
    height: 10%;
}

.volver{
    display: flex;

}

.presentacion{
    display: flex;
    width: 100%;
    flex-direction: column;
}

#descripcion{
    height: 100%;
}

.down{
    display: flex;
    height: 91%;
}

.left{
    height: 90%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    width: min-content;
}

.nuevaDiapositiva{
    display: flex;
    flex-direction: column;
    width: 80px;
}

.diapositivas{
    background-color: #dddd;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.diaposInfo{
    height: 17px;
}

.right{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.finalizar{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: flex-end;
    padding: 2px;
}

.titolDiapo{
    width: 100%;
    height: 90%;
}

.titolContDiapo{
    width: 100%;
    height: 10%;
}

.contingutDiapo{
    width: 100%;
    height: 80%;
}

/* Estilo para el fondo del texto de descripción de la pantalla home */
.description {
    background-color: #DDDDDD; /* Cambia el color de fondo aquí */
    padding: 30px; /* Agrega relleno para separar el texto del fondo */
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.line{
    border: 1px solid black;
    margin-left: 50px;
    margin-right: 50px;
}